<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <link rel='stylesheet' href='../static/dependencies/bulma.min.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src='../static/client.js'></script>
    </head>

    <body>
        <nav class="navbar is-transparent">
          <div class="navbar-brand">
            <a class="navbar-item">
                <p class="class--title"> Malaria Model </p>
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div id="navbarExampleTransparentExample" class="navbar-menu">

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                      <p class="control">
                        <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://twitter.com/intent/tweet?text=Check out this site which classifies malaria images  &amp;hashtags=malaria&amp;url=https://github.com/iArunava/Malaria-Detection-using-Keras/&amp;via=amArunava">
                          <span class="icon">
                            <i class="fab fa-twitter"></i>
                          </span>
                          <span>
                            Tweet
                          </span>
                        </a>
                      </p>
                      <p class="control">
                        <a class="button is-primary" target="_blank" href="https://github.com/iArunava/Malaria-Detection-using-Keras/">
                          <span class="icon">
                            <i class="fab fa-github"></i>
                          </span>
                          <span> Check out the Repository </span>
                        </a>
                      </p>
                    </div>
              </div>
            </div>
          </div>
        </nav>
        <div>
            <div class='center'>
                <div class='title'> Malaria Model </div>
                <div class='content'>
                    <div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
                    <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div>
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height='300'>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze the Image</button>
                    </div>
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
